<header class="flex flex-row justify-between p-2 px-4 bg-primary shadow-[0_3px_4px_rgba(0,0,0,0.8)]">
  <div class="flex items-center">
    <img class="h-6 mr-1" src="/images/Brand.png" alt="ucll" />
    <h1>ISP submission system</h1>
  </div>
  <div class="flex items-center">
    <button class="mr-3 bg-danger p-1 shadow-button hover:shadow-success">Home</button>
    <button class="bg-danger p-1 shadow-button hover:shadow-success">Log in</button>
  </div>
</header>
